
<section>
    <div class="container mt-3">
        <div class="row mb-3">
            <a href="admin/addProduct" class="btn btn-success ml-auto">Add a product</a>
        </div>
    <table class="table table-hover" id="tableproducts">
        <thead class="table-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{incremented @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.Category}}</td>
                <td>{{this.Description}}</td>   
                <td> <img src="/Productimages/{{this._id}}.jpg" alt="image" style="width:50px;height:50px"></td>
                <td>
                     <a href="admin/editproduct/{{this._id}}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                     <a href="admin/deleteproduct/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you sure you want to delete {{this.name}}?')">Delete</a>
                </td>
            </tr>
           {{/each}}
        </tbody>
    </table>
    </div>
</section>
<script>
    $(document).ready( function () {
    $('#tableproducts').DataTable();
} );
</script>