<section>
    <div class="container mt-5">
        <div class="row">
            <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td> <img src="/Productimages/{{this.item}}.jpg" alt="image" style="width:50px;height:50px"></td>
                <td>{{this.product.name}}</td>
                <td>{{this.product.Price}}</td>
                <td>
                     <button class="btn btn-primary mr-3" onclick="changeCart('{{this.item}}','{{this._id}}','-1')">-</button> 
                      <span id="{{this.product._id}}">{{this.quantity}}</span>
                       <button class="btn btn-primary ml-3" onclick="changeCart('{{this.item}}','{{this._id}}', 1)">+</button>
                </td>
                <td>
                     <button class="btn btn-danger" onclick="removeCart('{{this.item}}','{{this._id}}')">Delete</button>
                </td>
            </tr>
           {{/each}}
        </tbody>
    </table>
        </div>
        <hr>
        <div class="mt-5">
            <h3 class="float-right mr-5">TOTAL:$<span id="totalprice">10000</span></h3>
        </div><br>
        <div class="mt-4">
            <a href="/placeorder" class="float-right btn btn-success mr-5">Place Order</a>
        </div>
        
    </div>    
</section>
